<section class="gradient-custom">
    <div class="container-fluid" *ngIf="skill">
        <button class="btn btn-outline-light " style="margin-left: 70px;" routerLink=""><i class="bi bi-arrow-left-square-fill" ></i> Volver</button>
        <div class="row">
            <div>
                <form (ngSubmit)="OnUpdate()" novalidate #f="ngForm">
                    <div class="card text-white" style="border-radius: 1rem; background-color: rgba(235, 185, 138, 0.541);" id="caja">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                    <div class="form-outline">
                        <label for="nombre" class="from-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="porcentaje">Porcentaje</label>
                        <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
                    </div>
                    <button class="btn btn-outline-light">
                        Actualizar 
                    </button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </section>