.row{
    background-color: #fddfb2;
    padding: 20px;
    margin: 0%;
}

h1 {
    text-align: left;
    margin-left: 15px;
    margin-bottom: 20px;
    font-family: 'Lora', serif;
    font-weight: bold;
}

circle-progress{
    cursor: pointer;
   
}
button{
    border-radius: 20px;
    border: 0px;
    font-weight: bolder;
}
