<div class="row">

  <div class="container-fluid" style="display: flex; justify-content: space-between;">
    <h1>Hard & Soft skills</h1>
    <button type="button" class="btn btn-outline-dark btn-sm" routerLink="/newskill" *ngIf="isLogged">Nueva skill</button>
  </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4 " *ngFor="let skill of skill">
    <circle-progress
  [percent]="(skill.porcentaje)"
  [radius]="80"
  [showImage]="false"
  [imageSrc]="''"
  [title]="(skill.nombre)"
  [showTitle]="true"
  [titleColor]=""
  [imageHeight]="50"
  [imageWidth]="50"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#89543D'"
  [innerStrokeColor]="'#CE8651'"
  [animation]="true"
  [animationDuration]="750"
  ></circle-progress>
  <div>
  <button class="btn btn-outline-dark btn-sm"  routerLink="/editskill/{{skill.id}}" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></button>
  <button class="btn btn-outline-danger" (click)="delete(skill.id)" *ngIf="isLogged"><i type="button" class="bi bi-trash"></i></button> 
</div>
</div>
</div>



 