<section class="gradient-custom" *ngIf="persona">
    <div class="container-fluid">
        <div class="row">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="card text-white" style="border-radius: 1rem; background-color: rgba(235, 185, 138, 0.541);" id="caja">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">

                    <div class="form-outline">
                        <label for="nombreE" class="from-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                    </div>

                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="persona.descripcion" required>
                    </div>

                    <div class="form-group">
                        <label for="img">Imagen</label>
                        <input type="file" class="form-control" id="img" name="img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png, .bmp, .gif, .tiff">
                    </div>
                   <div class="imagen">
<img [src]="imageService.url" width="200px">
                   </div>
                    <button class="btn btn-outline-light">
                        Actualizar 
                    </button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </section>