<section class="gradient-custom">
<div class="container-fluid">
    <button class="btn btn-outline-light " style="margin-left: 70px;" routerLink=""><i class="bi bi-arrow-left-square-fill" ></i> Volver</button>
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="card text-white" style="border-radius: 1rem; background-color: rgba(235, 185, 138, 0.541);" id="caja">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                <div class="form-outline">
                    <label for="nombreE" class="from-label">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion de la tarea</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <button class="btn btn-outline-light">
                    Agregar experiencia
                </button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</section>