<section class="gradient-custom">
    <div class="container-fluid" *ngIf="estu">
        <div class="row">
            <div>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="card text-white" style="border-radius: 1rem; background-color: rgba(235, 185, 138, 0.541);" id="caja">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                    <div class="form-outline">
                        <label for="nombreE" class="from-label">Estudio realizado</label>
                        <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="estu.nombreE" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionE">Descripción</label>
                        <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="estu.descripcionE" required>
                    </div>
                    <button class="btn btn-outline-light">
                        Actualizar 
                    </button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </section>