
.gradient-custom {
    /* fallback for old browsers */
    background: rgb(172, 131, 102);    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(172, 131, 102), rgb(109, 53, 1));    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(172, 131, 102), rgb(109, 53, 1));    
    }

    #caja{
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.349);
        margin: 100px;
    }

    label{
        font-family: 'Slabo 27px', serif; 
        font-size: 20px;   
        font-weight: lighter;
    }

    .row{
        padding: 20px;
    }

    form{
        text-align: center;
    }

    button{
        margin-top: 50px;    
    }

    label{
       margin-top: 20px;
       margin-bottom: 10px;
    }